@import 'variables'
@import 'nib'
@import 'mixins'

pre
  border: 0
  border-radius: 0

.label, .badge
  display: inline-block
  padding: 3px 6px
  font-size: 12px

a.badge, a.label
  color: #fff
  &:hover
    color: color-success

.label.relationship
  border-radius: 2px

.muted
  opacity: 0.6

blockquote, blockquote p
  font-size: 17px; line-height: 24px; color: #777;

blockquote
  margin: 0 0 20px;
  padding: 9px 0px

ul
  list-style-type none
  margin: 0
  padding-left: 0

form
  margin: 0

p.lead
  font-size 16px
  margin-bottom 0em
  
img.researchgraph
  max-width 94%
  margin 10px 3%

p.researchgraph
  margin-left 3%
  margin-right 3%


.hero-unit
  padding 1em 60px
  margin-top 1em
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  &.hero-top
    margin-top 0em
  p
    margin: 0
  > p.motd-bang
    a
      font-size: 17px
      &:before
        content: "\f071"


.box-max
  max-width:320px

.panel-login
  @extend .hero-unit
  background-color: #fff
  border-width: 1px
  border-color: #ccc

#rd-switchboard-intro
  color: #fff
  font-size: 16px
  margin: 1em 0.5em 0.5em 0.5em
  
.rd-switchboard
  margin: 0.5em 0 0.5em 0.5em
  padding: 10px 0 0
  a.logo-img
    float: left
    height: 58px
    margin: 0 8px 0 0
    width: 68px
    img
      border: 0 none
      float: left
      width: 68px
      height: 68px
      position: relative
      top: -10px
  .logo-txt
    float: left
    margin: 0
    padding: 10px 0 0
    text-shadow: 0 0 5px #000
    white-space: nowrap
    a
      color: #eb7700
      display: block
      font-size: 22px
      font-weight: normal
      text-decoration: none
      span
        color: #fff
        display: block
        font-size: 15px
          
#rd-switchboard-block
  background-image: url(../images/collection_banner.jpg)
  background-color: #000000
  background-position: bottom right
  background-repeat: no-repeat
  
.link-btn
  background-color #008cc1
  border 1px solid #dadada
  border-radius 3px
  bottom 10px
  box-sizing border-box
  color #fff
  display block
  left 5%
  line-height 1
  padding 1em
  position absolute
  width 90%
  &:hover
    color: #FFF